{% extends "base.html" %}
{% load i18n wagtailimages_tags %}
{% load i18n wagtailcore_tags %}

{% block content %}

<body class="is-preload">

    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">

                <!-- Header -->
                {% block header %}
                {% include "includes/header.html" %}
                {% endblock header %}

                <!-- Banner -->
                <section id="banner">
                    <div class="content">
                        <header>
                            <h1>{{ page.banner_title }}</h1>
                            <p>{{ page.banner_subtitle }}</p>
                        </header>
                        <p>{{ page.banner_text }}</p>
                        <ul class="actions">
                            <li><a href="{{ page.banner_button }}" class="button big">{{ page.bunner_button_text }}</a>
                            </li>
                            <li><a href="{{ page.banner_button }}" class="button big">{{ page.bunner_button_text }}</a>
                            </li>
                            <li><a href="{{ page.banner_button }}" class="button big">{{ page.bunner_button_text }}</a>
                            </li>

                        </ul>

                    </div>
                    <span class="image object">
                        {% image self.banner_image original as img %}
                        <img src="{{ img.url }}" alt="" />

                    </span>

                </section>
                <!-- Section -->

                <section>
                    <header class="major">
                        <h2>{{ page.services }}</h2>
                    </header>
                    <div class="posts">
                        {% for block in page.content %}
                        {% include_block block %}
                        {% endfor %}
                    </div>
                </section>
            </div>
        </div>

        <!-- Menu -->
        {% block menu %}
        {% include "includes/menu.html" %}
        {% endblock menu %}
    </div>

    {% endblock %}